Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/Assets/Characters/Test
Content/Assets/Characters/LOL
Plugins/glTFRuntime

.idea
.claude
.vsconfig
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.slnx
*.suo
*.xcodeproj
*.xcworkspace

*.csv
*.json
